<div class="single_question_display">
  <div class="question_display_headings">
    <h2>Title: <%= @question.title %></h2>
    <h2>Body: <%= @question.body %></h2>
    <h2>Created: <%= @question.created_at.strftime("%m-%e-%y %H:%M") %></h2>
  </div>

  <div class="votes">
    <form class="question_upvote" method="post" action="/questions/<%= @question.id %>/upvote" class="inline">
      <button type="submit" name="submit_param" value="submit_value" class="glyphicon glyphicon-chevron-up"></button>
    </form>
    <form class="question_downvote" method="post" action="/questions/<%= @question.id %>/downvote" class="inline">
      <button type="submit" name="submit_param" value="submit_value" class="glyphicon glyphicon-chevron-down"></button>
    </form>
  </div>

  <div class="question_vote_count">
    <%= "question score: " + @question.votes.sum(:value).to_s %>
   </div>
  <div class="display_answers">
    <% if @question.answers.length != 0 %>
    <strong>Answer list</strong>
    <% else %>
    <strong class="question_message">This question has not been answered yet!</strong>
    <% end %>
    <br>
    <div>
      <ul class="answer_list">
        <% @question.answers.each do |answer| %>
        <div class="votes">
          <form class="answer_upvote" method="post" action="/answers/<%= answer.id %>/upvote" class="inline">
            <button type="submit" name="submit_param" value="submit_value" class="glyphicon glyphicon-chevron-up"></button>
          </form>
          <form class="answer_downvote" method="post" action="/answers/<%= answer.id %>/downvote" class="inline">
            <button type="submit" name="submit_param" value="submit_value" class="glyphicon glyphicon-chevron-down"></button>
          </form>
        </div>
        <div class="answer_vote_count">
          <%= "answer score: " + answer.votes.sum(:value).to_s %>
        </div>
        <li><%= answer.text %></li>
        <li>created by: <%= answer.user.username %></li>
        <li>created at: <%= answer.created_at.strftime("%m-%e-%y %H:%M") %></li><br>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="answer_buttons">
    <form action='/questions/<%=@question.id %>' method='POST'>
      <% if @question[:user_id] == session[:user_id] %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete this Question">
      <%end%>
    </form>
    <form action='/questions/<%=@question.id %>/edit' method='GET'>
      <% if @question[:user_id] == session[:user_id] %>
      <input type="submit" value="Edit this Question">
      <%end%>
    </form>
    <% if logged_in? %>
    <a href="/questions/<%= @question.id %>/answers/new">Answer this Question</a>
    <div class="answer">
      <form class="submit_answer" method="post" action="/questions/<%= @question.id %>/answers">
        <textarea type="text" id="answer" name="answer[text]" cols="40" rows="5"></textarea>

        <input type="submit" value="Submit Answer" tabindex="3" >
      </form>
    </div>
    <%end%>
  </div>
</div>
