<h1><%= @question.title %></h1>
<h1><%= @question.body %></h1>
<h1><%= @question.created_at %></h1>
  <% if @question.answers.length != 0 %>
  <ul><strong>Answer list</strong>
  <% else %>
  <ul><strong>Nobody answered to this question yet! wait fucker!!</strong>
  <% end %>
  <br>
  <% @question.answers.each do |answer| %>
  <li><%= answer.text %></li>
  <li>created by: <%= answer.user.username %></li>
  <li>created at: <%= answer.created_at %></li><br>
  <% end %>
</ul>


<form action='/questions/<%=@question.id %>' method='POST'>
  <% if @question[:user_id] == session[:user_id] %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this Question">
    <%end%>
</form>

<form action='/questions/<%=@question.id %>/edit' method='GET'>
  <% if @question[:user_id] == session[:user_id] %>
    <input type="submit" value="Edit this Question">
    <%end%>
</form>


  <% if logged_in? %>
    <p><a href="/questions/<%= @question.id %>/answers/new">Answer this Question</a></p>
    <%end%>
</form>
