<h1><%= @question.title %></h1>
<h1><%= @question.body %></h1>
<h1><%= @question.created_at %></h1>
<h1>
  <div>
    <form method="post" action='/question/<%= @question.id %>/upvote' class="inline">
      <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
    </form>
    THIS IS WHERE THE POINTS GO WITH JQUERY (use reduce)
    <form method="post" action='/question/<%= @question.id %>/downvote' class="inline">
      <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button downvote-button"></button>
    </form>
  </div>
</h1>

<form action='/questions/<%=@question.id %>' method='POST'>
  <% if @question[:user_id] == session[:user_id] %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this Question">
    <%end%>
</form>

<form action='/questions/<%=@question.id %>/edit' method='GET'>
  <% if @question[:user_id] == session[:user_id] %>
<!--     <input type="hidden" name="_method" value="put"> -->
    <input type="submit" value="Edit this Question">
    <%end%>
</form>
